[Unit]
Description=Openstack Network-Monitor-Server
After=network.target

[Service]
Type=forking
#Type=notify
PrivateTmp=True
PIDFile=/root/NetworkMonitor/src/server/server.pid
User=root
ExecStart=/root/NetworkMonitor/src/server/network_monitor_server
#ExecStart=/usr/lib/systemd/system/test.py
#ExecStop=/root/pre-online/pre_online/pre_online_api/stop_api.py

[Install]
WantedBy=multi-user.target
